@charset "UTF-8";

// ---------------------------------------------------------------------------------------------------------------------
// blocks / animate-gutenberg-blocks / editor
// ---------------------------------------------------------------------------------------------------------------------

.animation {
  &__properties {
	margin-top: 15px;

	.components-base-control {
	  &.components-toggle-control {
		margin-top: auto;
		margin-bottom: 6px;
	  }
	}
  }
}
